body{
 font-family: 'Tourney', cursive;
 font-size: 20px;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.teal-color{
    color:teal;
}
.flexible-container{
    display:flex;
    margin-bottom:150px;
    margin-right: 50px;
}
.half-width{
    width:70%;
    padding-left: 5%;
    padding-top: 2%;
}
.half-width img{
width:80%;
}
.link-button{
    text-decoration: none;
    background-image:linear-gradient(blue, cyan);
    padding:10px 30px;
    color:seashell;
    font-weight: 700;
    border-radius: 10px;
}
.top-banner{
    background-image: url(images/top-banner-3.png);
    background-repeat: no-repeat;
    background-position:1%;
    padding-right: 20px;
}
.go-center{
    text-align: center;
}
.images{
    text-align: center;
    border-radius: 20px;
    border:1px solid;
}
.recipies-item{
    width:40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 10px;
    border-radius: 25px;
    box-shadow: 10px 10px 45px gray;
}
.recipies-items{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#recipies-area{
    border-left:7px solid;
    border-right:7px solid;
    border-top:7px solid;
    border-bottom:7px solid;
    border-image:linear-gradient(purple,blue);
    border-image-slice: 1;
}
#recipies-corner{
    border-left:7px solid;
    border-right:7px solid;
    border-top:7px solid;
    border-bottom:7px solid;
    border-image:linear-gradient(salmon,yellow);
    border-image-slice: 1;
}
#recipies-world{
    border-left:7px solid;
    border-right:7px solid;
    border-top:7px solid;
    border-bottom:7px solid;
    border-image:linear-gradient(teal,forestgreen);
    border-image-slice: 1;
}
footer{
    color:yellowgreen;
}
.green-color{
    color:tomato;
}
footer p {
    text-align: center;
}
      
 
