body{
 font-family: 'Tourney', cursive;
 font-size: 20px;
}
h1{
    font-size: 50px;
}
.teal-color{
    color:teal;
}
.flexible-container{
    display:flex;
    margin-bottom:150px;
    margin-right: 50px;
}
.half-width{
    width:70%;
    padding-left: 5%;
    padding-top: 2%;
}
.half-width img{
width:80%;
}
.link-button{
    text-decoration: none;
    background-image:linear-gradient(blue, cyan);
    padding:10px 30px;
    color:seashell;
    font-weight: 700;
    border-radius: 10px;
}
.top-banner{
    background-image: url(images/top-banner-3.png);
    background-repeat: no-repeat;
    background-position:1%;
    padding-right: 20px;
}
.go-center{
    text-align: center;
}
